* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Nanum Myeongjo", serif;
  font-size: 18px;
  color: #000;
  width: 100%;
  background: #000;
  background-image: url(../img/header_top.png);
  background-repeat: no-repeat;
  background-size: 1398px;
  background-position: 0% 0%;
}

.container {
  max-width: 1198px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
a:hover {
  color: #fff;
}

li {
  list-style: none;
}

h1 {
  font-size: 202px;
  letter-spacing: -10px;
  color: #fff;
  font-weight: bold;
}

h2 {
  font-size: 80px;
  font-weight: bold;
  color: #000;
  font-weight: bold;
}

h3 {
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 48px;
  color: #fff;
  font-weight: 800;
  width: 420px;
  margin: 25px 0;
}

h4 {
  font-size: 40px;
  color: #717171;
  font-weight: bold;
  margin-bottom: -20px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 16px;
}

.span, a {
  color: #ffc600;
}

span {
  height: 2px;
  width: 130px;
  margin: 5px 0;
  color: #8d0e67;
}

header .header__title {
  min-height: 432px;
  padding: 35px;
}
header .header__title .p__header-1 {
  color: #fff;
  width: 395px;
  text-align: start;
}
header .header__title .p__header-2 {
  color: #ffc600;
  width: 395px;
  text-align: start;
  margin-top: 30px;
}
header .header__body {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 654px;
  padding: 35px;
}
header .header__body .nav #menu__toggle {
  opacity: 0;
  position: absolute;
  top: -9999px;
  visibility: hidden;
  display: none;
}
header .header__body .nav .nav_box {
  display: flex;
  margin-left: -40px;
}
header .header__body .nav .nav_box li {
  margin-right: 30px;
}
header .header__body .nav .nav_box li:hover {
  color: #000;
  border-bottom: 1px solid #ffc600;
}

main {
  background: #fff;
}
main #about {
  padding: 35px;
  min-height: 517px;
}
main #about .about__title {
  display: flex;
}
main #about .about__title .title__1 {
  width: 50%;
  padding: 68px 0 0 50px;
}
main #about .about__title .title__2 {
  width: 50%;
}
main #about .about__title .title__2 .bold {
  font-weight: 800;
  margin-bottom: 10px;
  font-style: italic;
}
main #about .about__text {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}
main #about .about__text .layer {
  text-align: center;
  margin: 0 50px;
}
main #about .about__text .layer .img__layer {
  margin: 0 auto;
}
main #about .about__text .layer .layer__text {
  max-width: 234px;
  font-size: 10px;
  margin: 15px 0;
}
main #project {
  min-height: 706px;
  margin: 20px 0;
}
main #project .title {
  margin-left: 25px;
}
main #project .title ul {
  display: flex;
  padding: 0;
  width: 400px;
  justify-content: space-between;
  margin: 20px 0;
}
main #project .title li {
  list-style: none;
}
main #project .title li a {
  font-size: 9px;
  color: #101010;
  font-weight: bold;
}
main #project .title li a:hover {
  border-bottom: 1px solid #ffc600;
}
main #project .galery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
main #project .galery .card__galery {
  width: 25%;
  height: 267px;
  overflow: hidden;
}
main #project .galery .card__galery .img__galery {
  height: 267px;
}
main .process {
  margin: 0 25px;
  min-height: 1236px;
  font-size: 16px;
}
main .process .desk .process__text {
  font-style: italic;
  margin: 10px 0;
  font-weight: bold;
}
main .process .desk .process__text-2 {
  font-size: 14px;
}
main .process .strategy {
  margin: 50px 145px 0px 145px;
  min-height: 925px;
}
main .process .strategy .ourProcess, main .process .strategy .method, main .process .strategy .outCome {
  display: flex;
}
main .process .strategy .ourProcess .card__strategy, main .process .strategy .method .card__strategy, main .process .strategy .outCome .card__strategy {
  width: 50%;
  height: 286px;
  overflow: hidden;
}
main .process .strategy .ourProcess .desk, main .process .strategy .method .desk, main .process .strategy .outCome .desk {
  width: 50%;
  padding: 30px;
}
main .process .servised {
  min-height: 480px;
  background-image: url(../img/bg-services.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -25px;
  padding: 40px;
  color: #fff;
}
main .process .servised .servised__text {
  padding-left: 470px;
  display: flex;
  flex-wrap: wrap;
}
main .process .servised .servised__text .element {
  width: 50%;
  padding: 20px 80px 54px 0;
}
main .process .servised .servised__text .element .title__element {
  font-size: 18px;
  color: #fff;
  padding-bottom: 20px;
}
main .process .servised .servised__text .element .text__element {
  font-size: 11px;
  color: #fff;
}
main .process .team {
  min-height: 508px;
  padding: 80px 40px 80px 0px;
  display: flex;
}
main .process .team .title {
  width: 320px;
  padding-top: 15px;
}
main .process .team .desk {
  padding-left: 20px;
}
main .process .team .desk .process__text, main .process .team .desk .process__text-2 {
  max-width: 625px;
}
main .process .team .desk .photo {
  display: flex;
  flex-wrap: wrap;
}
main .process .team .desk .photo .img__photo {
  width: 159px;
  height: 154px;
  overflow: hidden;
  background: #ffc600;
  margin: 20px 20px 20px 0;
}
main .process .team .desk .photo .img__photo img {
  width: 175%;
  margin-left: -119px;
}
main .process .team .desk .photo .process__text, main .process .team .desk .photo .photo__text {
  text-align: center;
  margin: 0 20px 0 0;
}
main .process .testimonials {
  min-height: 420px;
  background: #000;
  max-width: 1198px;
  color: #fff;
  padding-top: 50px;
  margin: 0 -25px;
}
main .process .testimonials .title {
  padding-left: 25px;
}
main .process .testimonials .wrapper {
  display: flex;
  flex-wrap: wrap;
}
main .process .testimonials .wrapper .desk {
  padding: 70px 0 0 70px;
  width: 60%;
}
main .process .testimonials .wrapper .item {
  padding-left: 65px;
  text-align: center;
}
main .process .testimonials .wrapper .item .img__photo {
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid #ff9100bd;
  overflow: hidden;
}
main .process .contact {
  min-height: 682px;
  display: flex;
  flex-wrap: wrap;
  background: #1900ffbb;
  margin: 0 -25px;
}
main .process .contact .map {
  margin-left: -25px;
}
main .process .contact .contact__contact {
  max-width: 300px;
  padding: 45px 0px 45px 60px;
  max-width: 696px;
  margin-right: -25px;
  color: #fff;
  font-weight: bold;
}
main .process .contact .contact__contact form {
  max-width: 300px;
  margin-bottom: 60px;
}
main .process .contact .contact__contact form input {
  background: none;
  border-color: #fff;
  margin-bottom: 10px;
  padding: 5px;
}
main .process .contact .contact__contact form input::placeholder {
  color: #fff;
}
main .process .contact .contact__contact form input:focus {
  outline: none;
}
main .process .contact .contact__contact form .input__name {
  color: #fff;
  width: 100%;
}
main .process .contact .contact__contact form .input__tel {
  width: 40%;
  margin-right: 8%;
}
main .process .contact .contact__contact form .input__email {
  width: 50%;
}
main .process .contact .contact__contact form textarea {
  resize: none;
  background: none;
  border-color: #fff;
  padding: 5px;
}
main .process .contact .contact__contact form textarea::placeholder {
  color: #fff;
}
main .process .contact .contact__contact form textarea:focus {
  outline: none;
}
main .process .contact .contact__contact form .btn_btn {
  width: 91px;
  height: 25px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  background: #ffc600;
  border: none;
  margin-top: 20px;
}
main .process .contact .contact__contact form .btn_btn:focus {
  outline: none;
}
main .process .contact .contact__contact .contact__location {
  display: flex;
  width: 100%;
}
main .process .contact .contact__contact .contact__location .title-location li {
  margin: 10px 0;
}
main .process .contact .contact__contact .contact__location .title-location li h6 {
  margin-right: 30px;
}
main .process .contact .contact__contact .contact__location .text-location {
  margin-left: 0;
  padding: 0;
}
main .process .contact .contact__contact .contact__location .text-location li {
  margin: 14px 0;
}
main .process .contact .contact__contact .contact__location .text-location {
  font-size: 12px;
}
main .process .contact .contact__contact .contact__location .text-location .text-location a {
  color: #fff;
}
main .process .contact .contact__contact .contact__location .text-location .text-location a:hover {
  color: #ffc600;
}

@media (max-width: 991px) {
  main #about .about__text .layer {
    margin: 0 20px;
  }
  main #about .about__text .layer .layer__text {
    font-size: 14px;
  }

  main .process .strategy {
    margin: 50px 45px 0px 45px;
  }

  main .process .servised .servised__text {
    padding-left: 70px;
  }
  main .process .servised .servised__text .element .text__element {
    font-size: 13px;
  }

  main .process .team .desk .photo .img__photo {
    width: 199px;
  }
  main .process .team .desk .photo .img__photo img {
    margin-left: -129px;
  }

  main .process .contact .contact__contact form textarea {
    width: 100%;
  }
}
@media (max-width: 767px) {
  body {
    text-align: justify;
  }

  h3 {
    text-align: start;
  }

  main #about .about__text {
    margin: 50px 0px;
  }
  main #about .about__text .layer {
    margin: 0 10px;
  }
  main #about .about__text .layer .layer__text {
    font-size: 12px;
    text-align: justify;
  }

  main .process .servised .servised__text {
    padding-left: 0px;
  }
  main .process .servised .servised__text .element {
    width: 100%;
    padding: 20px 80px 20px 0;
  }
  main .process .servised .servised__text .element .text__element {
    font-size: 14px;
  }

  main .process .contact .map, main .process .contact .contact__contact {
    margin: auto;
  }

  main #project .galery .card__galery {
    width: 50%;
  }

  main .process .strategy .ourProcess .card__strategy,
main .process .strategy .method .card__strategy,
main .process .strategy .outCome .card__strategy {
    width: 100%;
  }

  main .process .strategy .ourProcess,
main .process .strategy .method,
main .process .strategy .outCome {
    display: block;
  }
  main .process .strategy .outCome {
    margin-top: 30px;
  }
  main .process .strategy .ourProcess .desk,
main .process .strategy .method .desk,
main .process .strategy .outCome .desk {
    width: 100%;
    padding: 30px 0;
  }

  .nav .hamburger-menu #menu__toggle {
    opacity: 0;
    position: absolute;
    top: -9999px;
    visibility: hidden;
    display: none;
  }
  .nav .hamburger-menu .menu__btn {
    display: block;
    align-items: center;
    position: fixed;
    top: 35px;
    left: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 200;
  }
  .nav .hamburger-menu .menu__btn span, .nav .hamburger-menu .menu__btn span:before, .nav .hamburger-menu .menu__btn span:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition: 0.3s;
  }
  .nav .hamburger-menu .menu__btn span:before {
    content: "";
    top: -8px;
  }
  .nav .hamburger-menu .menu__btn span::after {
    content: "";
    top: 8px;
  }
  .nav .nav_box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 199;
  }
  .nav .nav_box a {
    margin-bottom: 30px;
  }
  .nav .nav_box .nav_link {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
  }
  .nav .nav_box .nav_link:hover {
    background-color: #CFD8DC;
  }

  header .header__body .nav .nav_box {
    display: block;
  }

  .newsletter .form_newsletter button {
    width: 92%;
    margin-top: 10px;
  }

  .newsletter .form_newsletter .newsletter_name, .newsletter .form_newsletter .newsletter_email {
    width: 45%;
    margin: 5px;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .nav_box {
    visibility: visible;
    left: 0;
  }

  header .conteiner nav ul {
    display: block;
  }

  header .conteiner .nav ul li {
    height: 80px;
    background: none;
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 102px;
  }

  h2 {
    font-size: 50px;
  }

  main #about .about__text {
    display: block;
  }
  main #about .about__text .layer {
    margin: 0px;
  }
  main #about .about__text .layer .layer__text {
    max-width: 100%;
    font-size: 15px;
  }

  main #about .about__title {
    display: block;
  }
  main #about .about__title .title__1 {
    padding: 8px 0 0 5px;
  }
  main #about .about__title .title__2 {
    width: 100%;
  }

  main .process .strategy {
    margin: 50px 15px 0px 15px;
  }

  main .process .team .desk .photo .img__photo {
    width: 299px;
    height: 250px;
  }

  main .process .team .desk .photo .img__photo img {
    margin-left: -209px;
  }
}

/*# sourceMappingURL=style.css.map */
